div#divDetalhesPagamento label, div#divFormaPagamento label {
	margin-left: 1.5em !important;

}
/*
div#divDetalhesPagamentos {
	font-size: 90% !important;
}
div#divDetalhesPagamentos label {
	margin-left: 3em !important;
}
*/
